<h1>Partners</h1>

<p><%= link_to 'New Partner', new_partner_path %></p>

<table>
  <tr>
    <th>Nickname</th>
    <th>Email</th>
    <th colspan="2"></th>
  </tr>

  <% @partners.each do |partner| %>
    <tr>
      <td><%= partner.nickname %></td>
      <td><%= partner.email %></td>
      <td><%= link_to 'Show', partner_path(partner) %></td>
      <td><%= link_to 'Edit', edit_partner_path(partner) %></td>
    </tr>
  <% end %>
</table>
